<div id="main-menu" class="main-menu">
  {% assign mainmenu = site.translations[site.lang].main | sort: 'weight'  %}
  <ul>
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %}">
      <a href="{{ item.url | site.baseurl }}">{{ item.name }}</a>
    </li>
    {% endfor %}
    <li><a href="/en/"><img class="lang" src="/images/illustrations/flag_vn.png" alt="Vietnamese"/></a></li>
    <li><a href="/"><img class="lang" src="/images/illustrations/flag_uk.png" alt="English"/></a></li>
  </ul>
</div>
